address {
  @apply roman;
}

p {
  @apply mb-4;
}

p, ul {
  @apply leading-normal;
}

h1.page-title {
  @apply font-normal mb-4;
}

h2.section-title {
  @apply font-normal mb-8;
}

.page-section {
  @apply my-16;
}

.eyebrow-headline {
  /* From https://uxmovement.com/content/how-you-can-aid-user-scanning-by-using-eyebrow-headlines/ */
  @apply uppercase text-grey-dark text-sm;
}