.card {
  @apply mb-8;
}

.card p {
  @apply text-justify;
}

.card-image {
  @apply border;
}

.card-title {
  @apply text-2xl mb-4;
}

.mini-card-content {
  @apply flex flex-col h-full p-4 border rounded-lg shadow;
}

.mini-card-content h4 {
  @apply tracking-wide;
}

.mini-card-links {
  @apply mt-auto mb-0;
}